* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe700;
}

footer {
    background-color: #ffe700;
    display: flex;
    justify-content: center;
}

/* FONTS Y SUS CODIGOS
font-family: 'Barlow Condensed', sans-serif;
font-family: 'JetBrains Mono', monospace;
font-family: 'UnifrakturCook', cursive;
*/

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin: 25px;
}

h3 {
    font-family: 'UnifrakturCook', cursive;
    text-align: center;
    font-size: 2.1rem;
    margin: 25px;
}

h4 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 1.5rem;
    color: #fdfdfd;
    
}

p {
    font-family: 'JetBrains Mono', monospace;
    color: #fdfdfd;
    font-size: 1.12rem;
}

a {
    color: #ff41b3;
}

li {
    font-family: 'JetBrains Mono', monospace;
    color: #fdfdfd;
    font-size: 1.12rem;
}

ol {
    font-family: 'JetBrains Mono', monospace;
    color: #fdfdfd;
    font-size: 1.12rem;
    padding: 30px;
}
.box_logo {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.box_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_reglas {
    display: flex;
    flex-direction: column;
    background-color: #010100;
    padding: 30px;
}

.text_footer {
    font-family: 'JetBrains Mono', monospace;
    color: #010100;
    font-size: 1.12rem;
    text-align: center;
}